<!doctype html>
<html>
    <head>
    <title>
        <h1>
            Relatórios Mensais.
        </h1>
    </title>    
    </head>
    <body>
        <h1>
            Este é seu RELATÓRIOS MENSAIS. 
        </h1>
        <hr>
        <h1>
            A seguir escolha uma das opções.
        </h1>
        <input type="radio" name="opcoes" value="investimento" data-link="{{url_for('investimento')}}" /> Investimento<br/>
        <input type="radio" name="opcoes" value="orcamento"/> Orçamento<br/>
        <input type="radio" name="opcoes" value="imposto_renda"/> Imposto de Renda<br/>
        <input type="radio" name="opcoes" value="rentabilidade"/> Rentabilidade<br/>
        
    </body>
      

</html>
